{% extends "base.html" %}

{% block title %}
Neural Poet
{% endblock %}

{% block css %}
{{super()}}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
<form action="/" method="post">
  <div class="form-group">
    <label for="{{ form.url }}">Summary URL</label>
    <input type="url" class="form-control" id="URL" placeholder="Site URL">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
